/* styling for mobile device*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Righteous", cursive;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  max-height: 100%;
  max-width: 100%;
}

body {
  height: 80%;
  background: #f4f8fc;
  color: black;
  font-size: 20px;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
  margin: auto 1.2rem;
}

button {
  background-color: #2508ef;
  color: #f4f8fc;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid cyan;
  height: 30px;
}

/* nav styling starts here*/
nav {
  background: #cbe4f5;
  box-shadow: 0 1px 10px 1px rgba(23, 26, 214, 0.479);
  color: inherit;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0.1rem 0;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #170887;
}

nav img {
  margin-left: 1.2rem;
}

nav li {
  padding-bottom: 0.5rem;
  border-bottom: 3px cyan;
}

nav li .active {
  border-bottom: 3px #170887;
  padding-bottom: 0.5rem;
}

nav li:hover {
  transition: border-bottom 1s;
  border-bottom: 3px solid red;
}

/* styling for contact form */
.contact-input {
  width: 30%;
  border: 1px solid white;
  background: #cbe4f5;
  padding: 12px;
  border-radius: 10px;
}

.contact-input2 {
  margin: 10px;
}

.contact-btn {
  color: white;
  background-color: #170887;
  border: 1px solid cyan;
  border-radius: 35px;
  text-align: center;
  padding: 10px 30px;
  margin: 20px auto 30px;
  display: block;
}

.input-textarea {
  margin: 10px 15px 0;
}

/* styling for footer */

footer {
  min-width: 100%;
  padding: 0;
  margin: 0;
}
footer .box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  background-color: #2508ef;
  color: white;
}

@media all and (max-width: 768px) {
}

.text19 {
  font-size: 15px;
  padding: 20px;
}

.img1 {
  width: 100%;
}

/*
@media(min-width: 576px) {
    .text10a {
        margin-top: 40px
    }
}
@media screen and (min-width: 576px){
    footer{
        width: 100%;
        padding-right: 10px;
      
    }
}
*/

@media (max-width: 944px) {
  nav {
    background: #cbe4f5;
    box-shadow: 0 1px 10px 1px rgba(23, 26, 214, 0.479);
    color: inherit;
    width: 500%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0.1rem 0;
    margin: 0 auto;
  }
}
@media (max-width: 860px) {
  footer {
    min-width: 500%;
    margin: 0;
  }
  footer .box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2508ef;
    color: white;
  }
  body {
    background: #f4f8fc;
    color: black;
    font-size: 20px;
    text-align: center;
  }
}
