body{
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
nav{
    height: 80px;
    background: #2c3e50;
}

nav img{
    position: absolute;
    top: 3px;
    left: 12%;
    width: 150px;
    height: 70px;
    
}
nav ul{
    float: right;
    margin-right: 25%;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}
nav ul li a{
    position: relative;
    color: white;
    font-size: 18px;
    padding: 5px 0;
}
nav ul li a:before{
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    height: 3px;
    width: 100px;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
}
nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform .4s linear;
}
label #btn, label #cancel{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background: url(assets/image1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
}


@media (max-width: 1118px){
    nav img{
        left: 8%;

    }
}
@media (max-width: 944px){
    nav img{
        left: 6%;
        top: 10px;
        width: 130px;
        height: 60px;
    }
    nav ul li a{
        font-size: 17px;
    }
}
@media (max-width: 860px){
    nav img{
        left: 6%;
        top: 10px;
        width: 130px;
        height: 60px;
    }
    label #btn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100px;
        height: 100vh;
        top: 80px;
        background: #34495e;
        left: -100,
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;

    }
    #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #btn{
       display: block; 
    }
}

